body.dark-mode {
    background-color: #1a1a1dfa;
    color: #ffffff;
    
    body.dark-mode a, h1, h2, h3, h4, h5, h6 {
        color: #bb86fc;
    }
    
    body.dark-mode .footer-menu, .text-dark {
        color: #ffffff !important;
    }

    p {
        color: #f5f5f5;
    }

    .card-body, .card {
        background-color: #2c2c2e;
        color: #ffffff;
        box-shadow: none !important;
    }

    .card-body:hover {
        background-color: #3a3a3c;
    }

    .card-body.card-icon {
        background-color: #8951ce;
    }

    .container#content {
        color: black;
    }

    input {
        background-color: #2c2c2e;
        color: #ffffff;
    }

    input:hover, input:focus {
        background-color: #3a3a3c;
    }
    

    .signup-card, .signup-card input {
        background-color: #2c2c2e;
        color: #ffffff;
        box-shadow: none !important;
    }

    .password-toggle-icon i {
        color: #f5f5f5;
    }
    .password-toggle-icon i:hover {
        color: #bb86fc;
    }

    .login-card input {
        color: #ffffff;
        box-shadow: none !important;
    }
}
