{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
        <h1 class="mb-4">StudyPal</h1>
        <h5 class="mb-4">Your Learning Companion.</h5>
        <p class="mb-4">StudyPal is a friendly and intuitive study companion that helps students stay organized and focused. StudyPal makes learning easier and more enjoyable.</p>
        <form class="search-wrapper" action="/search" method="GET">
          <input id="search-by" name="s" type="search" class="form-control form-control-lg"
            placeholder="Search Notes...">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <img src="{{ url_for('static', filename='images/study.png') }}" alt="illustration" class="img-fluid" draggable="false">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0" id="studytools">
  <div class="container">
    <h2 class="section-title">Our Study Tools</h2>
    <div class="row">
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-notepad mb-4"></i>
            <h3 class="card-title h4">Notes</h3>
            <p class="card-text">Save your notes.</p>
            <a href="{{ url_for('views.studytools')}}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-blackboard mb-4"></i>
            <h3 class="card-title h4">Flashcards</h3>
            <p class="card-text">Coming Soon...</p>
            <a href="/coming-soon" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-light-bulb mb-4"></i>
            <h3 class="card-title h4">Quizzes</h3>
            <p class="card-text">Coming Soon...</p>
            <a href="/coming-soon" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card match-height">
          <div class="card-body">
            <i class="card-icon ti-archive mb-4"></i>
            <h3 class="card-title h4">Learn</h3>
            <p class="card-text">Coming Soon...</p>
            <a href="/coming-soon" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /topics -->
 
{% endblock %}